.card1 {
  display: flex;
 width: 200px;
 flex-direction: column;
 height: 250px;
 border-radius: 20px;
 position: relative;
 border: 2px solid #c3c6ce;
 transition: 0.5s ease-out;
 background-color: rgb(255, 255, 255);
 margin-top: 1rem;
}
.card1:hover {
  cursor: pointer;
}

.card:hover {
 border-color: #008bf8;
 box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}