:root {
  --color-text-title: #0B132A;
  --color-text-description: #4F5665;
  --color-text-white: #FFFFFF;
  --color-button: #6A4029;
  --color-background-btn: #FFBA33;
  --font-poppins: 'Poppins';
  --font-rubik: 'Rubik';
}

/*********************/
/* Scroll-Barr */
/*********************/

/* width */
::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #422110;
  /* border-radius: 10px; */
  color: #021227;
  background-color: #422110;
  /* background-color: transparent; */
  width: 30px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dd9506;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: var(--color-button); */
  cursor: pointer;
}

/*********************/
/* Scroll-Barr End */
/*********************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container-header{
  display: flex;
  padding: 30px 0;
  background-color: #FFF;
  font-family: var(--font-rubik);
  width: 100%;

}
.logo {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container {
  flex: 1;
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-title {
  margin-left: 10px;
  color: #0B132A;
}
.navLink {
  flex: 1;
  display: flex;
}
.navLink ul {
  display: flex;
  list-style: none;
  /* border: 1px solid red; */
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  color: var(--color-text-description);
}

.navLink ul li:hover {
  color: var(--color-button);
  cursor: pointer;
  border-bottom: 1px solid var(--color-button);
}

.navInfo {
  flex: 1;
  display: flex;
}

.container-navInfo {
  display: flex;
  margin: auto;
  width: 60%;
  justify-content: space-evenly;
  gap: 3rem;
  align-items: center;
  color: var(--color-text-description);
}

.active {
  font-weight: 800;
  color: var(--color-button);
}

.login {
  color: var(--color-text-title);
  font-weight: 700;
}
.login:hover {
  border-bottom: 2px solid #0B132A;
}
.signUp {
  padding: 10px 30px;
  border-radius: 20px;
  border: 0;
  background-color: var(--color-background-btn);
  color: var(--color-button);
  font-weight: 700;
}
.signUp a {
  display: flex;
  letter-spacing: 1px;
}
.signUp:hover {
  background-color: #dd9506;
}

/* Special Class */

.pointer:hover {
cursor: pointer;
}
.border-yellow {
  border: 1px solid #FFBA33;
}
/* speacial Class End */

/* Main */

main {
  position: relative;
}

/* Hero */
.hero {
  height: 100vh;
  width: 100%;
}
.hero-img {
  /* border: 2px solid red; */
  background-image: url(./assets/Hero/nathan-dumlao-71u2fOofI-U-unsplash\ 2-min.png);
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-origin: border-box;
  background-attachment: fixed;
  /* background-position-y: 0px; */
  /* background-position-y: -55rem; */
  /* padding: 5rem 0 10.5rem; */
  font-family: var(--font-rubik);
  width: 100%;
  height: 100%;
}
.container-hero {
  /* border: 2px solid blue; */
  width: 80%;
  padding: 3rem 0 ;
  /* margin-bottom: 14.2rem; */
}
.title-hero {
  font-size: 3rem;
  color: var(--color-text-white);
  font-weight: 700;
  margin-bottom: 1rem;
}
.description-hero {
  color: var(--color-text-white);
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.btn-start {
  background-color: #f5a80f;
  padding: 1.3rem 4.8rem;
  border: 0;
  border-radius: 10px;
  font-size: 1.2rem;
  color: #6A4029;
  font-weight: 600;
}
.btn-start:hover {
  background-color: #dd9506;
} 

/* Hero End */

/* Branding */

.box-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-box-info {
  position: relative;
  display: flex;
  width: 80%;
  padding: 2rem 0;
  background-color: #FFFFFF;
  border-radius: 10px;
  top: -5.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* justify-content: space-around; */
}
.container-staf, .container-store, .box-customer {
  display: flex;
  padding: 2rem;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
}
.icon-info {
  background-color: var(--color-background-btn);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.container-box-description {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.title-info {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-text-title);
}
.box-description {
  color: var(--color-text-description);
}

/* Body Branding */
.body-branding {
  background-color: #FFF;
  font-family: var(--font-rubik);
}
.container-body-branding {
  display: flex;
}
.logo-branding {
  flex: 1;
  padding: 5rem 6rem;
}
.info-branding {
  flex: 1;
  padding: 5rem 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.title-branding {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--color-text-title);
  font-weight: 500;
}
.description-branding {
  font-size: 1rem;
  color: var(--color-text-description);
  margin-bottom: 2rem;
  font-weight: 400;
}
.description-body-branding {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  color: var(--color-text-description);
  font-weight: 400;
}
/* Branding end */

/* Section Product */

.container-product {
  font-family: var(--font-rubik);
}
.product-header {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.product-title {
  font-size: 2rem;
  font-weight: 500;
  color: var(--color-text-title);
}
.product-description {
  color: var(--color-text-description);
  font-weight: 400;
}
.grid-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 5rem;
  padding: 5rem;
}
.container-card {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 0; 
}
.card {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 80%;
  height: 100%;
  border-radius: 10px;
  font-family: var(--font-rubik);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.card-img {
  width: 100px;
  height: 100px;
  background-color: #0B132A;
  position: relative;
  border-radius: 50%;
  top: -3rem;
}
.card .card-header .card-img1 {
  background-image: url("https://s3-alpha-sig.figma.com/img/b8f7/0e2a/0d98dd6a1ea259209e5b715734ee5a22?Expires=1676851200&Signature=QFmF8pyWw2LEkiA0KTEkANujMOh9vIXhOZ~WWpvxA~4sFATlHHULb~XlzsIemU5f0wJvKnsAoS6fE4WVwrDR4wWzkHvpECUMhupY1wQKjvMBurLIu4I3R6GAA4GVBRcNuHfo7cYZc8K56pMxvPvilfsdngLQXEqlCgLmFeSaGgprK4GN2VmN3l1BtrTXKZODaTnibe6ALcUpqb5BufJ-Mo-4TiC85mqSCdvgtrFnxPo4BsW1JV5wAJorBQO5iYLokjaokRCx0b7S7ozX4VZgWE6Nd9eDptxaj7~Xu-ah8q5Hv51LlxdoG5vsD0JoUMyGGtNhPI9L7kWpKLRwAyB~Bw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -45px;
  background-position-x: -2px;
}
.card .card-header .card-img2 {
  background-image: url("https://s3-alpha-sig.figma.com/img/1195/e3b7/a63f096d3edcb57b0bc937039acae071?Expires=1676851200&Signature=DJNutzuQJ86Zi9CHEpUcKgCF-VOhiyEJuGqv9yfkqck5vFkJvtqsGXUQNTS3Mb649TyfCLClwqgDzj79ezXGus7X3Ak-XzBbLALeFrxGIxzZK6jsbdtITm~YoQqSb-0PBzFvV5lj~FdtPfC1zTFCMcIgXvNzbLshnDb4QK3i7AIpiWRz24MCaVa8i6LW25CfpdglLZLvXeVX15V6hlXhs-wjpHo3x6z0-rjbvKikHm0UhBZKCNofDkuEq3iTxhzU7LrNLrfr4R5POM-ms79IFoR1W-wKIk2jmdVxLdsN42KRl~smDBYzQ3cX~dEf-YJhdz9HwZqFQl27Tc-mcEsSZw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card .card-header .card-img3 {
  background-image: url("https://s3-alpha-sig.figma.com/img/01c2/516d/130f4255d3fd6c5a42948d74ac2a14f4?Expires=1676851200&Signature=SYYV48SwOuVU2aqHPy0gH8qUlYDKKf17U8MzWy52yJRpEDy-MSlYBgHNYrUOk5AIzqtzBTMHcpsOBOm7trHSSCKWXF1WsFQ5RgB8pAYKdM14gUY54qwnafaFZQyQnLo27icmyLqDTr3t~mmg5yBrxMvvMdeXe~Rg~k9K7UtQ~zFJXc7EQYoggjUiSQQ-ZnuYqXyKbLvnxC0U8JDe8cUjRQjHJ8o2GMulQBc1CDMVm7djWGGYoO9wtEjLkKASpeyjmFdrtsaPrFaPRZdX0FcBoT9KFbOH2ZVp9LTg-nrXgpnYkTpLarbmiVPXC6a97tqGcrlcPmtEn3PRB~OmAdRMkw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -1.6rem;
  background-position-x: -2px;
}
.card-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  top: -2rem;
  /* padding: 0 10px; */
}
.title-card {
  margin-bottom: 2rem;
  color: var(--color-text-title);
  font-size: 1.5rem;
}
.container-card-body {
  display: flex;
  gap: 1rem;
  color: var(--color-text-description);
  align-items: center;
  font-size: 14px;
  padding: 0 2rem;
}
.card-footer {
  width: 100%;
  padding: 0 0 2rem;
  gap: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
.price-card {
  font-size: 1.5rem;
  color: var(--color-text-title);
}
.btn-card {
  width: 60%;
  padding: 15px;
  border-radius: 30px;
  border: 0;
  color: var(--color-button);
  font-weight: 700;
  font-family: var(--font-rubik);
  color: #6A4029;
}

.card-footer .border-yellow {
  border: 1px solid #FFBA33;
}
.border-yellow:hover {
  background-color: #f5a80f;
}
.card-footer .bg-yellow {
  background-color: #FFBA33;
  border: 2px solid white;
}
.card-footer .bg-yellow:hover {
  background-color: #dd9506;
}
/* Section Product End */

/* Section Map */
.container-map {
  padding: 2rem 5rem;
}
.header-map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  font-family: var(--font-rubik);
  margin: 5rem 0;
}
.title-map {
  font-size: 2rem;
  color: var(--color-text-title);
  /* font-weight: 500; */
}
.description-map {
  color: var(--color-text-description);
}
.image-map {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Section Map End */
/* Section partner Start */

.header-partner {
  margin: 5rem 0 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-partner {
  font-size: 2rem;
}
.container-body-partner {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}
.image-partner img {
  filter: grayscale(100%); /* IE6-9 */
  /* -webkit-filter: grayscale(1); Google Chrome, Safari 6+ & Opera 15+ */
  /* filter: grayscale(6); Microsoft Edge and Firefox 35+ */
}

/* Disable grayscale on hover */
.image-partner img:hover {
  -webkit-filter: grayscale(0);
  filter: none;
  cursor: pointer;
}
/* Section partner End */

/* Customer Start */

.container-customer {
  font-family: var(--font-rubik);
  margin-top: 3rem;
}
.header-customer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-top: 4rem;
  gap: 1.5rem;
  margin-bottom: 4rem;
}
.title-customer {
  font-size: 2rem;
  color: var(--color-text-title);
} 
.description-customer {
  font-size: 1.1rem;
  color: var(--color-text-description);
  font-weight: 400;
}
.container-body-customer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 4rem;
  padding: 0 2rem;
}
.container-comment {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-comment,.card-comment-active {
  width: 80%;
  height: 100%;
  border-radius: 10px;
  /* padding: 20px 30px; */
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;

}
.card-comment-active {
  border: 2px solid var(--color-button);
}
.header-card {
  display: flex;
  flex: 1;
  padding: 1rem;
}
.container-img-card {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-card {
  background-color: aqua;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* background-image: url(./assets/Main/Images/Profile/Profile-left.svg); */
}
.image-card1 {
  background-image: url(./assets/Main/Images/Profile/Profile-left.svg);
}
.image-card2 {
  background-image: url(./assets/Main/Images/Profile/Profile-middle.svg);
}
.image-card3 {
  background-image: url(./assets/Main/Images/Profile/Profile-right.svg);
}
.info-card {
  display: flex;
  flex-direction: column;
  flex: 3;
  justify-content: center;
  padding: 8px 15px;
  gap: 1px;
}
.info-card-title {
  color: var(--color-text-title);
  font-size: 1.2rem;
}
.info-card-description {
  color: var(--color-text-description);
  font-weight: 400;
}
.rating {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.value {
  color: var(--color-text-title);
}
.body-card {
  flex: 2;
  padding: 1rem;
}
.customer-comment {
  color: var(--color-text-title);
  line-height: 1.7rem;
}
.container-footer-customer {
  height: 100px;
  display: flex;
  width: 100%;
}
.pagination{
  flex: 1;
  height: 100%;
  width: 100%;
}
.container-pagination {
  display: flex;
  gap: 1rem;
  height: 100%;
  align-items: center;
  padding-left: 6rem;
}
.page-item, .page-item-active {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #DDE0E4;
}
.page-item, .page-item-active:hover {
  cursor: pointer;
}

.page-item-active {
  background-color: var(--color-button);
  width: 50px;
  height: 20px;
  border-radius: 20px;
}

.pagination-btn {
  width: 100%;
  height: 100%;
  flex: 1;
}
.container-pagination-btn {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  padding-right: 6rem;
  gap: 1rem;
}
.before-pagination {
  width: 50px;
  height: 50px;
  /* background-color: #6A4029; */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--color-button);
}
.before-pagination:hover {
  cursor: pointer;
  background-color: #ffa26f;
}
.after-pagination {
  width: 50px;
  height: 50px;
  background-color: #6A4029;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.after-pagination:hover {
  cursor: pointer;
  background-color: #422110;
}


.promo {
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.promo-container {
  position: relative;
  width: 70%;
  /* padding: 2rem; */
  display: flex;
  font-family: var(--font-rubik);
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.info-promo {
  flex: 1;
  padding: 3rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.title-promo {
  font-size: 2rem;
  color: var(--color-text-title);
}
.description-promo {
  font-size: 1.1rem;
  color: #4F5665;
}
.container-info-btn {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.btn-promo {
  padding: 1rem 4rem;
  border-radius: 10px;
  border: 0;
  background-color: var(--color-background-btn);
  color: var(--color-button);
  font-weight: 700;
  font-size: 1rem;
}
.btn-promo:hover {
  background-color: #dd9506;
  cursor: pointer;
}

/* Customer end */
/* Main End */

/* Footer */

.mainFooter {
  display: grid;
  background-color: #F8F8F8;
  padding: 50px;
  grid-template-columns: 2fr 1fr;
  /* border: 1px solid black; */
}

.info {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 80px;
}

.info-description {
  color:#4F5665;
  line-height: 20px;
  margin-top: 25px;
  font-weight: 600;
  font-family: 'Rubik';
}

.logo-footer {
  display: flex;
  align-items: center;
}

.media {
  display: flex;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
}

.sosialMedia {
  background-color: #472300;
  margin: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}


.sosialMedia:hover {
  cursor: pointer;
  background-color: #fffdfc;
}
.sosialMedia img {
  width: 50px;
  height: 50px;
}

.copyRight {
  color:#717377;
}

.menu {
  display: flex;
  padding: 10px;
  line-height: 30px;
  gap: 5px;
}

.menu-footer {
  padding: 15px 10px;
}

.faq-footer {
  padding: 10px;
  margin-left: 90px;
}

ul li {
  color: #4F5665;
  list-style: none;
  margin-top:  5px;
  background-color: 1px solid green;
}

ul li:hover {
  cursor: pointer;
  border-bottom: 1px solid #0B132A;
}


  .container-hamburger {
    display: none;
  }
  ion-icon:hover {
    cursor: pointer;
    /* font-size: 50px; */
  }
  #icon-x {
    display: none;
    transition: 0.3s;
  }
  #hamburger {
    transition: 0.3s;
  }

  .container-hamburger-tablet {
    display: none;
  }
  ion-icon:hover {
    cursor: pointer;
    /* font-size: 50px; */
  }
  #icon-x-tablet {
    display: none;
    transition: 0.3s;
  }
  #hamburger-tablet {
    transition: 0.3s;
  }

/* Hidden nav */
.hidden-nav {
  background-color: #fff;
  /* border: 1px solid red; */
  width: 100%;
  height: 70vh;
  position: absolute;
  right: -100%;
  /* top: 11%; */
  display: none;
  transition: 0.3s;
  display: none;
}

.navLink-hidden ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* border: 2px solid red; */
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 1.3rem;
}
.navInfo-hidden ul li {
  font-size: 2rem;
}

.navInfo-hidden .container-navInfo {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 1rem;
}


@media only screen and (max-width: 425px) {
   /* Heading Start */
  .logo-container {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-evenly;
  }
  .logo {
    /* border: 1px solid green; */
    flex: 2;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 8%;
  }
  .description-profile {
    text-align: center;
  }
  .logo-title {
    font-size: 1.2rem;
  }

  .navLink {
    display: none;
  }
  .navInfo {
    display: none;
  }
  .logo-container {
    justify-content: flex-start;
  }
  .container-hamburger {
    /* display: none; */
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    /* border: 2px solid red; */
    z-index: 9999;
  }
    ion-icon {
    font-size: 45px;
  }
  .hidden-nav {
    display: none;
  }
  /* Heading End */

  /* Hero Section */
  .hero {
    height: auto;
  }
  .hero-img {
    padding: 1rem 0 ;
  }
  .title-hero {
    font-size: 2rem;
  }
  .description-hero {
    font-size: 1rem;
  }
  .btn-start {
    font-size: 12px;
    padding: 1rem 2rem;
    /* align-self: center; */
    /* text-align: center; */
  }
  .container-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* Hero Section End */
  /* Main Section */

  .container-box-info {
    padding: 0;
    width: 90%;
    padding: 1rem 1rem;
    top: -3.5rem;
  }
  .icon-info {
    width: 50px;
    height: 50px;
  }
  .icon-info img {
    width: 15px;
  }
  .container-staf, .container-store, .box-customer {
    padding: 0;
    gap: 4px;
    flex-direction: column;
  }
  .title-info {
    font-size: 1.2rem;
  }
  .container-body-branding {
    flex-direction: column;
  }
  .logo-branding {
    padding: 0;
  }
  .info-branding {
    padding: 1rem;
  }
  .title-branding {
    font-size: 1.5rem;
  }
  .product-header {
    /* font-size: 1.5rem; */
    padding: 3rem 1rem 0;
    align-items: flex-start;
  }
  .product-title {
    font-size: 1.7rem;
    font-weight: 800;
  }
  .container-map {
    padding: 0;
  }
  .image-map img {
    width: 90%;
  }
  .description-map {
    padding: 0 2rem;
  }
  .grid-card {
    grid-template-columns: 1fr;
    padding: 0;
    gap: 4rem;
  }
  .header-card {
    flex-wrap: wrap;
  }
  .title-map {
    font-size: 1.5rem;
  }
  .container-body-partner {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .spotify {
    grid-column: span 2;
    display: flex;
    justify-content: center;
  }
  .container-image-partner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  .header-customer {
    padding: 2rem;
  }
  .title-customer {
    font-size: 1.5rem;
    width: 100%;
  }
  .container-body-customer {
    grid-template-columns: 1fr;
    /* gap: 2rem; */
    padding: 0;
  }
  .card-comment {
    /* width: 100%; */
    display: none;
  }
  .card-comment-active {
    display: flex;
    width: 100%;
  }
  .container-footer-customer {
    justify-content: center;
    gap: 1rem;
    width: 80%;
  }
  .container-pagination {
    padding-left: 4rem;
  }
  .container-pagination-btn {
    padding: 0;
  }
  .promo-container {
    width: 90%;
    flex-direction: column;
  }
  .info-promo {
    padding: 2rem 1rem;
    /* text-align: center; */
  }
  .info-promo {
    flex: 2;
    padding: 1rem;
  }
  .title-promo {
    font-size: 1.5rem;
  }
  .btn-promo {
    padding: 10px 30px;
    font-size: 12px;
  }
  .container-info-btn {
    padding: 1rem;
  }
  .pagination-btn {
    padding: 0;
  }
  .footer-customer {
    width: 80%;
  }
  .container-footer-customer {
    width: auto;
  }
  .before-pagination, .after-pagination {
    width: 30px;
    height: 30px;
  }
  .image-partner img {
    width: 100px;
  }
   /* Footer */
    .mainFooter {
    display: grid;
    grid-template-areas: 
    "a a"
    "b b"
    ;
    margin: 20px auto 0;
    text-align: center;
    padding: 2rem 1.2rem;
  }
  .info {
    grid-area: a;
    padding: 0;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .info-description br {
    display: none;
  }
  .media {
    display: flex;
    justify-content: center;
  }

  .menu {
    margin: 0;
    margin-top: 30px;
    grid-area: b;
    display: flex;
    padding: 0;
  }
  .menu-footer{
    flex: 1;
    width: 100%;
    padding: 0;
  }
  .faq-footer {
    padding: 0;
    margin: 0;
    flex: 1;
    width: 100%;
  }
}
@media only screen and (min-width: 426px) and (max-width: 767px) {
   /* Heading Start */
   .hero {
    height: auto;
   }
   .hero-img {
    padding: 5rem 0;
   }
  .logo-container {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-evenly;
  }
  .logo {
    /* border: 1px solid green; */
    flex: 2;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 8%;
  }
  .description-profile {
    text-align: center;
  }
  .logo-title {
    font-size: 1.2rem;
  }

  .navLink {
    display: none;
  }
  .navInfo {
    display: none;
  }
  .logo-container {
    justify-content: flex-start;
  }
  .container-hamburger-tablet {
    display: none;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    /* border: 2px solid red; */
  }
    ion-icon {
    font-size: 45px;
  }
  .hidden-nav {
    height: 60vh;
  }
  /* Heading End */

  /* Hero Section */

  .title-hero {
    font-size: 2rem;
  }
  .description-hero {
    font-size: 1rem;
  }
  /* Hero Section End */
  /* Main Section */

  .container-box-info {
    padding: 0;
    width: 90%;
    padding: 2rem 1rem;
    top: -3.5rem;
  }
  .icon-info {
    width: 50px;
    height: 50px;
  }
  .icon-info img {
    width: 20px;
  }
  .container-staf, .container-store, .box-customer {
    padding: 0;
    gap: 8px;
  }
  .title-info {
    font-size: 1.2rem;
  }
  .container-body-branding {
    flex-direction: column;
  }
  .container-info-branding {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
  }
  .logo-branding {
    padding: 0 5rem;
  }
  /* .logo-branding img {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  .info-branding {
    padding: 3rem 3rem;
  }
  .title-branding {
    font-size: 1.5rem;
  }
  .product-header {
    /* font-size: 1.5rem; */
    padding: 3rem 3rem 0;
    align-items: center;
  }
  .product-title {
    font-size: 1.7rem;
    font-weight: 800;
  }
  .container-map {
    padding: 3rem;
  }
  .card {
    width: 70%;
    text-align: left;
  }
  /* .container-card3 {
    width: 35%;
  } */
  .title-card {
    text-align: center;
  }
  .grid-card {
    grid-template-columns: 1fr;
    padding: 0;
    gap: 4rem;
  }
  .title-map {
    font-size: 1.5rem;
  }
  .container-body-partner {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .spotify {
    grid-column: span 2;
    display: flex;
    justify-content: center;
  }
  .container-image-partner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  .header-customer {
    padding: 2rem;
  }
  .container-body-customer {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .container-footer-customer {
    justify-content: center;
    gap: 1rem;
    width: 100%;
  }
  .container-pagination-btn {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .promo-container {
    width: 90%;
  }
  .info-promo {
    padding: 2rem 1rem;
    /* text-align: center; */
  }
  .info-promo {
    flex: 2;
  }
  .title-promo {
    font-size: 1.5rem;
  }
  .btn-promo {
    padding: 1rem;
    font-size: 14px;
  }
  /* Footer */
    .mainFooter {
    display: grid;
    grid-template-areas: 
    "a a"
    "b b"
    ;
    margin: 20px auto 0;
    text-align: center;
  }
  .info {
    grid-area: a;
    padding: 0;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .media {
    display: flex;
    justify-content: center;
  }

  .menu {
    margin: 0;
    margin-top: 30px;
    grid-area: b;
    display: flex;
    padding: 0;
  }
  .menu-footer{
    flex: 1;
    width: 100%;
    padding: 0;
  }
  .faq-footer {
    padding: 0;
    margin: 0;
    flex: 1;
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* Nav */
  .navLink {
    flex: 2;
  }
  .logo-container {
    padding-left: 1rem;
  }
  .navInfo {
    padding-right: 1rem;
  }
  /* Nav End */

   /* Heading Start */
    .hero {
    height: auto;
   }
   .hero-img {
    padding: 5rem 3rem;
   }
   .container-hero {
    width: 100%;
   }
   .navLink ul {
    gap: 1rem;
   }
   .signUp {
    padding: 10px 30px;
   }
   .container-navInfo {
    gap: 1rem;
   }
  .container-hamburger-tablet {
    display: none;
    flex: 1;
    justify-content: flex-end;
    padding-right: 20px;
    /* border: 2px solid red; */
  }
    ion-icon {
    font-size: 45px;
  }
  .hidden-nav {
    height: 50vh;
  }
  .navLink {
    display: flex;
  }
  /* Hero Section End */
  /* Main Section */

  .container-box-info {
    padding: 0;
    width: 90%;
    padding: 2rem 1rem;
    top: -3.5rem;
  }
  .icon-info {
    width: 50px;
    height: 50px;
  }
  .icon-info img {
    width: 20px;
  }
  .container-staf, .container-store, .box-customer {
    padding: 0;
    gap: 8px;
  }
  .title-info {
    font-size: 1.2rem;
  }
  .container-body-branding {
    flex-direction: flex;
  }
.logo-branding {
  flex: 1;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-right: 4rem; */
}
.logo-branding img {
  /* width: 150px; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.info-branding {
  flex: 1;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 1rem;
  /* align-items: center; */
}
  .title-branding {
    font-size: 1.5rem;
  }
  .product-header {
    /* font-size: 1.5rem; */
    padding: 3rem 3rem 0;
    align-items: center;
  }
  .product-title {
    font-size: 1.7rem;
    font-weight: 800;
  }
  .container-map {
    padding: 3rem;
  }
  .card {
    width: 60%;
  }
  .grid-card {
    grid-template-columns: 1fr 1fr;
    padding: 0;
    /* gap: 4rem; */
  }
  .container-card {
    margin-bottom: 5rem;
  }
  .container-card3 {
    grid-column: span 2;
    /* width: 35%; */
    margin-bottom: 0;
  }
  .container-card3 .card {
    width: 35%;
    margin-bottom: 0;
  }
  .title-map {
    font-size: 1.5rem;
  }
  .container-body-partner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: auto;
  }
  .container-map {
    padding: 0;
  }
  .spotify {
    /* grid-column: span 2; */
    display: flex;
    justify-content: center;
  }
  .container-image-partner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  .container-map {
    padding: 2rem 0 0 ;
  }
  .header-customer {
    padding: 2rem;
  }
  .container-body-customer {
    grid-template-columns: 1fr;
    /* gap: 2rem; */
  }
  .container-footer-customer {
    justify-content: center;
    gap: 1rem;
    width: 100%;
  }
  .card-comment {
    display: none;
  }
  .container-pagination-btn {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .promo-container {
    width: 90%;
  }
  .info-promo {
    padding: 2rem 1rem;
    /* text-align: center; */
  }
  .info-promo {
    flex: 2;
  }
  .title-promo {
    font-size: 1.5rem;
  }
  .btn-promo {
    padding: 1rem;
    font-size: 14px;
  }
  /* Footer */
    .mainFooter {
    display: grid;
    grid-template-areas: 
    "a a"
    "b b"
    ;
    margin: 20px auto 0;
    text-align: center;
  }
  .info {
    grid-area: a;
    padding: 0;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .media {
    display: flex;
    justify-content: center;
  }

  .menu {
    margin: 0;
    margin-top: 30px;
    grid-area: b;
    display: flex;
    padding: 0;
  }
  .menu-footer{
    flex: 1;
    width: 100%;
    padding: 0;
  }
  .faq-footer {
    padding: 0;
    margin: 0;
    flex: 1;
    width: 100%;
  }
}